# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/workspace.xml
ms-user/target/
ms-user.iml
code-create/src/test/
code-create/target/classes/application.yml
code-create/target/classes/mapper/
code-create/target/classes/static/
code-create/target/classes/template/
code-create/target/generated-sources/
code-create/target/maven-archiver/
code-create/target/maven-status/
ms-file/src/main/resources/static/
ms-file/src/test/
ms-file/target/classes/application.yml
ms-file/target/classes/templates/
ms-file/target/generated-sources/
ms-file/target/maven-archiver/
ms-file/target/maven-status/
ms-user/src/main/java/com/zqy/ms/user/controller/blog/
ms-user/src/main/java/com/zqy/ms/user/controller/news/
ms-user/src/main/resources/templates/admin/user/mean/
