<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>tree-table</title>
    <script src="../../../static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}"
          media="all">

    <style>
        input {
            height: 33px;
            line-height: 33px;
            padding: 0 7px;
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-bottom: -2px;
            outline: none;
        }

        input:focus {
            border-color: #009E94;
        }

        /*!** 箭头未展开 *!*/
        /*#auth-table + .treeTable .treeTable-icon .layui-icon-triangle-d:before {*/
        /*    content: "\e602";*/
        /*}*/

        /*!** 箭头展开 *!*/
        /*#auth-table + .treeTable .treeTable-icon.open .layui-icon-triangle-d:before {*/
        /*    content: "\e61a";*/
        /*}*/

        /*!** 文件图标 *!*/
        /*#auth-table + .treeTable .treeTable-icon .layui-icon-file:before {*/
        /*    content: "\e60d";*/
        /*}*/

        /*!** 文件夹未展开 *!*/
        /*#auth-table + .treeTable .treeTable-icon .layui-icon-layer:before {*/
        /*    content: "\e637";*/
        /*}*/

        /*!** 文件夹展开 *!*/
        /*#auth-table + .treeTable .treeTable-icon.open .layui-icon-layer:before {*/
        /*    content: "\e634";*/
        /*}*/

    </style>
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>菜单检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <input id="edt-search" type="text" placeholder="输入关键字" style="width: 120px;"/>&nbsp;&nbsp;
            </div>
            <div class="layui-inline">
                <button class="layui-btn" id="btn-search">搜索</button>
            </div>
            <div class="layui-inline">
                <button id="addParent" class="layui-btn layui-btn-normal">添加</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" id="btn-expand">全部展开/全部折叠</button>
            </div>
        </form>
    </div>
</fieldset>
<div class="layui-form-item">
    <table id="auth-table" style="width: 100%" class="layui-table" lay-filter="auth-table"></table>
</div>
<!-- 操作列 -->
<script type="text/html" id="oper-col">
    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="font-size: 12px" lay-event="add"><i class="layui-icon">&#xe654;</i>添加子菜单
    </button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="font-size: 12px" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑菜单
    </button>
    <button type="button" class="layui-btn layui-btn-danger  layui-btn-sm" style="font-size: 12px" lay-event="del">删除</button>
</script>

<script th:inline="none">

    layui.config({
        base: '../../../static/module/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['table', 'treetable'], function () {
        $ = layui.jquery;
        let table = layui.table;
        let treetable = layui.treetable;
        let expandAll = true;

        // 渲染表格
        layer.load(1000);
        treetable.render({
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'id',
            treePidName: 'parentId',
            elem: '#auth-table',
            url: '/admin/menu/data',
            type: "POST",
            page: false,
            cols: [[
                {type: 'numbers',width: '3%',title:'序号'},
                {
                    field: 'name', width: '15%', align: 'left', templet: function (d) {

                        return '<i class="layui-icon" id="realIcon" style="font-size: 50px;">'+d.icon+'</i>'+d.name;

                    }, title: '名称'
                },
                {field: 'href', align: 'left',minWidth:'200px', title: '菜单跳转地址', width: '25%'},
                {
                    field: 'icon', width: '5%', align: 'center', templet: function (d) {
                                if(d.icon!=null){
                                    return '<i class="layui-icon" style="font-size:30px;">'+d.icon+'</i>';
                                }
                                return '<i class="layui-icon" style="font-size:30px;"></i>';
                    }, title: '图标'
                },
                {field: 'sort', align: 'center', title: '排序', width: '5%'},
                {field: 'createDate', align: 'center', title: '创建时间', width: '10%'},
                {templet: '#oper-col', align: 'center', title: '操作',minWidth:'200px', width: '25%'}
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            if (expandAll) {
                treetable.foldAll('#auth-table');
            } else {
                treetable.expandAll('#auth-table');
            }
            expandAll = !expandAll;
        });


        $('#btn-search').click(function () {
            var keyword = $('#edt-search').val();
            var searchCount = 0;
            $('#auth-table').next('.treeTable').find('.layui-table-body tbody tr td').each(function () {
                $(this).css('background-color', 'transparent');
                var text = $(this).text();
                if (keyword != '' && text.indexOf(keyword) >= 0) {
                    $(this).css('background-color', 'rgba(250,230,160,0.5)');
                    if (searchCount == 0) {
                        treetable.expandAll('#auth-table');
                        $('html,body').stop(true);
                        $('html,body').animate({scrollTop: $(this).offset().top - 150}, 500);
                    }
                    searchCount++;
                }
            });
            if (keyword == '') {
                layer.msg("请输入搜索内容", {icon: 5});
            } else if (searchCount == 0) {
                layer.msg("没有匹配结果", {icon: 5});
            }
        });


        $('#addParent').click(function () {
            layer.open({
                title: "菜单添加",
                type: 2,
                anim: 2,
                skin: 'layui-layer-molv',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '70%'],
                content: '/admin/menu/addParent'
            });
        });

        //监听工具条
        table.on('tool(auth-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'add') {
                layer.open({
                    title: "菜单添加",
                    type: 2,
                    anim: 2,
                    skin: 'layui-layer-molv',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['50%', '70%'],
                    content: "/admin/menu/addChild/" + data.id,
                    success: function (layero, index) {
                        setTimeout(function () {
                            layer.tips('点击此处返回会员列表', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        }, 500);
                    }
                });
            }
            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
                $.ajax({
                    type: "POST",
                    url: "/admin/menu/delete/" + data.id,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (res) {
                        if (res.success) {
                            parent.layer.msg("删除成功!", {time: 500}, function () {
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.message);
                        }
                    }
                });
            } else if (layEvent === 'edit') {
                layer.open({
                    title: "菜单修改",
                    type: 2,
                    anim: 2,
                    skin: 'layui-layer-molv',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['50%', '70%'],
                    content: '/admin/menu/edit/' + data.id //iframe的url
                });
            }
        });
    });
</script>
</body>
</html>