<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       <!--
        
        @author Alan
        @date 2019-08-01 10:54:19
        -->
<mapper namespace="com.zqy.ms.user.mapper.SysUserRoleMapper">

    <resultMap type="com.zqy.ms.user.entity.SysUserRole" id="sysUserRoleMap">
                    <result property="userId" column="user_id"/>
                    <result property="roleId" column="role_id"/>
            </resultMap>


</mapper>
