<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" href="../static/layui/css/layui.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="">
            <div class="layui-logo">后台管理系统</div>
        </a>
        <!-- 头部左面区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="/">返回前台</a>
            </li>
            <li class="layui-nav-item">
                <a href="">商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="">用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <!-- 头部右面区域 -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://gitee.com/uploads/66/890966_Leytton.png?1512991922" class="layui-nav-img"><span
                        th:text="${user.loginName}"> </span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" class="layTabPlus" th:attr="tab_url=@{/admin/user/edit/}">基本资料</a>
                    </dd>
                    <dd>
                        <a href="/logout">退出</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a></a>
            </li>
        </ul>
    </div>
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li th:each="mean,userStat: ${user.getShowSysMenus()}" class="layui-nav-item layui-nav-itemed">
                    <a th:text="${mean.name}" class="" href="javascript:;"></a>
                    <dl class="layui-nav-child">
                        <dd th:each="chileMean,index:${mean.getChildren()}">
                            <a th:text="${chileMean.name}" href="javascript:void(0);" class="layTabPlus"
                               th:attr="tab_url=@{${chileMean.href}}">
                                <i th:class="${chileMean.icon}" class="layui-icon layui-icon-star"> </i>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--默认展示的节目-->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="demoTab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this noclose" lay-id='base_info'>首页</li>
            </ul>
            <div class="layui-tab-content" style="padding:0px;">
                <div class="layui-tab-item layui-show">
                    <div class="sysNotice col">
                        <blockquote class="layui-elem-quote title">基本信息</blockquote>
                        <table class="layui-table">
                            <tbody>
                            <tr>
                                <td>当前版本</td>
                                <td class="version">V1.2</td>
                            </tr>
                            <tr>
                                <td>开发作者</td>
                                <td class="author">Alan</td>
                            </tr>
                            <tr>
                                <td>项目首页</td>
                                <td class="homePage"><a href="https://gitee.com/Leytton/layTabPlus">www.baidu.com</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->

    <div class="layui-footer">
        © 2018 <a href="https://gitee.com/Leytton/layTabPlus">后台管理</a> - by Alan
    </div>
</div>
<script src="../static/layui/layui.all.js"></script>
<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var table = layui.table;
</script>
<script src="../static/js/layTabPlus.js"></script>
<script>
    layTabPlus.init({
        lay_filter: 'demoTab'
    });
</script>
</body>

</html>
<style>
    .sysNotice {
        margin-top: 0;
        border-left: 5px solid #e2e2e2;
    }

    .title {
        padding: 10px 15px;
        margin-bottom: 0;
    }

    .sysNotice {
        width: 75%;
    }

</style>