<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<button id="btn">请点击我</button>
<div id="appendDom"></div>


<div>
    <span>区域：</span>

    <select style="width: 100%;border-color: #1AA094" class="js-example-basic-multiple" name="states[]" multiple="multiple">
        <option  selected value="AL">Alabama</option>
        <option selected value="WY">Wyoming</option>

        <option value="AL">Alab</option>
        <option value="WY">Wyom</option>
    </select>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.js-example-basic-multiple').select2({
            placeholder: "选择服务类型"
        });

    });
    $('.js-example-basic-multiple').on('select2:select', function (e) {
        var data = e.params.data;
        console.log(data.text);
        console.log(data);
    });
</script>
</body>

</html>


